.container {
    display: grid;
    grid-template-areas:
        "left-side middle-column"
        "footer footer";
    grid-template-columns: 1fr 4fr;
    gap: 0.5rem;
    background-color: var(--container-bg);
    padding: 0.5rem;
    border: 1px solid var(--border-color);
    border-radius: 15px;
    margin:2rem;
    margin-top:0.5rem;
}


@media screen and (max-width: 745px) {

    details[open] summary ~ * {
        animation: sweep .25s ease-in-out;
    }

    @keyframes sweep {
        0%    {opacity: 0; margin-top: -20px}
        100%  {opacity: 1; margin-top: 0px}
    }

   .container {
        display: grid;
        grid-template-areas:
            "middle-column"
            "footer";
        grid-template-columns: 1fr;
        gap: 5px;
        background-color: var(--container-bg);
        border: 1px solid var(--border-color);
        width:100%;
        margin:auto;
    }

    .container div.header {
        width:300px;
    }

    .container div.left-side {
        display:none;
    }

    .container div.right-side {
        display:none;
    }

    .container div.pfp {
        display:none;
    }

    .container div.menu{
        display:none;
    }

    .container div.gifs {
        display:none;
    }

    .container div.mobile-menu {
        font-size:var(--font-size);
        padding:0px;
        overflow: hidden;
        margin-bottom: 10px;
        top:0;
        display:block;
        border-radius:0px 0px 10px 10px;
    }

    .container div.mobile-menu h1 {
        border-radius: 0px 0px 10px 10px;
    }

    .container div.mobile-menu summary {
        padding:5px;
        cursor: pointer;
        text-align:center;
        color: var(--link-color);
        font-family: "Bungee", sans-serif;
    }
}