/** ▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄
MAIN COLORS
▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄ **/
:root {
--bg-color: black;
--color1: #def4db;
--color2: #87c8bf;
--color3: #057f7f;
--color4: #00324c;
--color5: #800a0a;
--color6: #d12604;
--tooltip-text-color: var(--color6);
--tooltip-bg-color: black;
--border-color: var(--color5);

::selection {
    color: var(--color6);
    background: var(--bg-color);
}
}
/** ▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄ **/

 /* ACCENT FONT */
@font-face {
    font-family: 'AccentFont'; /*a name to be used later*/
    src: url('main-assets/main-fonts/1942-report.ttf'); /*URL to font*/
}

body {
    color: var(--color1);
    background-color: var(--bg-color);
    text-align: left;
    margin:0px;
    padding:0px;
    font-family:'Courier New', Courier, monospace;
    font-size:14px;
}

.emph {
    text-decoration: underline;
    font-style:italic, bold;
}

.aside {
    color: var(--color3);
}

.comment {
    font-size:10px;
    margin-bottom:20px;
    margin-top:0px;
    margin-left:10px;
}

a {
    color: var(--color2);
    font-size: 12px;
    font-style: italic;
    text-decoration: overline;
    cursor: crosshair;
}

a:hover {
    font-style: normal;
    color:var(--color3);
    text-decoration: underline;
}

a img:hover {
    filter: brightness(150%);
}

.link-no-access {
    text-decoration: line-through;
    color: var(--color4);
    cursor: not-allowed
}

.link-no-access:hover {
    text-decoration: line-through;
    color: var(--color4);
    cursor: not-allowed
}

h1 {
    color: var(--color5);
    margin-bottom: -20px;
    margin-top: 10px;
    margin-left:10px;
    font-size:45px;
    font-style: italic;
    letter-spacing: 5px;
    font-family: 'AccentFont', Courier, monospace;
    transform: rotate(5deg);
    color:var(--color6);
    z-index: 97;
}

h2 {
    color:var(--color5);
    margin-bottom: -17px;
    margin-top: 0px;
    margin-right: 20px;
    font-size: 30px;
    font-style: italic;
    letter-spacing: 5px;
    text-align: right;
    transform: rotate(-5deg);
    font-family: 'AccentFont', Courier, monospace;
    z-index: 97;
}

h3 {
    font-size:14px;
    text-align: right;
    margin-right: 10px;
    color: var(--color6)
}

p {
    padding-bottom: 10px;
    padding-left:20px;
    width:255px;
    z-index: 98;
}

.header {
    border:0px solid red;
    position:absolute;
    height:600px;
    width:800px;
    z-index:1;
    background-image: url(images/lelandcoyle-shrine/coyle-header.png);
}

.main-content {
    border: 1px dashed var(--color5);
    position:absolute;
    background-color: var(--bg-color);
    min-height:400px;
    width:300px;
    padding: 5px;
    margin:30px;
    margin-top:100px;
    left:75px;
    z-index:98;
}

.menu {
    border: 1px dashed var(--color5);
    width: 110px;
    height: 455px;
    margin-left: -20px;
    background-color: var(--bg-color);
    top:200px;
    left:30px;
    position:fixed;
    z-index:99;
}

.nav-menu {
    border:0px solid red;
    text-align: left;
    margin:0px;
    padding-top:0px;
    padding-left:0px;
}

.menu li {
    border:0px solid pink;
    list-style-type:none;
    margin-top:10px;
    padding-left: 18px;
}

.menu ul li::before {
    background-size:cover;
    position: absolute;
    left:5px;
    height:15px;
    display: inline-block;
}

.menu h3 {
    font-size:10px;
    color: var(--color6);
    background: linear-gradient(90deg,rgba(128, 10, 10, 1) 0%, rgba(0, 0, 0, 1) 50%, rgba(0, 0, 0, 1) 100%);
}

li {
    border:0px solid pink;
    list-style-type:none;
    margin-top:10px;
    padding-left: 0px;
}

ul li::before {
    background-size:cover;
    position: absolute;
    left:25px;
    height:15px;
    display: inline-block;
    content: "+";
}

.divider {
    border-top:1px dashed var(--color6);
    width: 150px;
    height: 30px;
    margin:auto;
}

.main-content img {
    max-width:250px;
    margin-left:30px;
}

.tt-content {
    color: var(--color6);
}

.deco-quote {
    font-family: 'AccentFont';
    font-size:12px;
    letter-spacing: 15px;
    margin-top: -0px;
    margin-left:0px;
    text-align:left;
    transform: rotate(-5deg);
    color: var(--color5);
}

@keyframes blink {
    0% {
        color:var(--color4);
    }

    100% {
        color:var(--color6);
    }
}

.blinking-text {
    text-align: center;
    animation: blink 0.25s infinite;
}