/** ▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄
MAIN COLORS
▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄ **/
:root {
    --main-color: rgb(0, 0, 0);
    --main-color-trans: rgba(0, 0, 0, 0.75);
    --border-color: rgb(67, 67, 67);
    --accent-color: honeydew;
    --accent-color-2: red;
    --text-color: honeydew;
    --second-text-color: rgb(207, 207, 207);
    --third-text-color: rgb(113, 113, 113);
    --p-color: honeydew;
    --link-color: rgb(178, 255, 35);
    --link-hover-color: lightgoldenrodyellow;
    --marquee: rgb(178, 255, 35);
    --gradient-1: gray:
    --gradient-2: silver;
    --text-bg: rgba(0, 0, 0, 0.50);
    --tooltip-bg-color: black;
    --tooltip-text-color: honeydew;
    --tooltip-shadow-color: black;
    --home-image: url(/images/gifs/redbiohazard.gif);
    --marquee-gif: url(/images/small-gifs/green-stars.gif);


    #td-header {
    background-image:url(main-assets/main-images/main-banner-3.0.png);
    }

    .maincontent {
    background-image: url(main-assets/main-images/maincontent-bg.png);
    }
}

/** ▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄
LIGHT THEME
▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄ **/
[data-theme='light'] {
    --main-color: snow;
    --main-color-trans: rgba(255, 250, 250, 0.5);
    --border-color: rgb(181, 200, 212);
    --accent-color: rgb(228, 9, 9);
    --accent-color-2: maroon;
    --text-color: rgb(24, 76, 111);
    --second-text-color: rgb(60, 93, 120);
    --third-text-color: black;
    --p-color: steelblue;
    --link-color: steelblue;
    --link-hover-color: maroon;
    --marquee: rgb(60, 93, 120);
    --gradient-1: red;
    --gradient-2: blue;
    --text-bg: black;
    --tooltip-bg-color: snow;
    --tooltip-text-color: rgb(24, 76, 111);
    --tooltip-shadow-color: rgb(181, 200, 212);
    --marquee-gif: url("/images/small-gifs/pushpin.gif");

    .link-list li{
        background-color: rgba(255, 255, 255, 0.5);
    }

    #td-header {
    background-image:url(main-assets/main-images/main-banner-3.0-b.png);
    }

    .maincontent {
    background-image: url(main-assets/main-images/maincontent-bg-b.png);
    }

    .subpage-content {
    background-image: url(main-assets/main-images/maincontent-bg-b.png);
    }
}

/** ▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄
DOGS COLORS
▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄ **/
[data-theme='dogs'] {
    --main-color: #f8f8f8;
    --main-color-trans: #f8f8f887;
    --border-color: #e0c898;
    --accent-color: #f88000;
    --accent-color-2: #f88000;
    --text-color: #703000;
    --second-text-color: #703000;
    --third-text-color: #989f90;
    --p-color: #703000;
    --link-color: #703000;
    --link-hover-color: #f88000;
    --marquee: #f88000;
    --gradient-1: gray:
    --gradient-2: silver;
    --text-bg: rgba(0, 0, 0, 0.50);
    --tooltip-bg-color: #f9f7ed;
    --tooltip-text-color: #703000;
    --tooltip-shadow-color: #e0c898;
    --home-image: url(/images/gifs/nintendogs.gif);
    --marquee-gif: url(/images/small-gifs/paw.gif);

    ::selection {
        color: #f8f8f8;
        background: #f88000;
    }

    .link-list li{
        background-color: transparent;
    }

    #td-header {
        background-image:url(main-assets/main-images/main-banner-3.0-c.png);
    }

    .maincontent {
        background-image: url(TEMP);
    }

    .maincontent a {
        color:#f88000;
    }

    .maincontent a:hover {
        color: #d8e0d0;
        -webkit-text-fill-color: var(--link-hover-color);
    }

    .td-side-list {
        padding:3px;
    }

    .td-side-list li{
        margin-bottom: 5px;
        background: #f0e8c8;
        border-radius: 0px 10px 10px 0px;
        font-family: 'MainBold', Courier, monospace;
        margin-left:16px;
        height:15px;
    }

    .td-side-list li::before {
        background-image: url(images/small-gifs/paw.gif);
        background-color: #f0e8c8;
        background-size:cover;
        position: absolute;
        left:6px;
        display: inline-block;
        height: 15px;
        width: 15px;
        content:'';
    }

    .td-side-list li::marker {content: none;}

    .nav-header {
        background:#e0c898; /* The background color here affects only the color behind the header text */
        color:#703000; /* The font color for the header*/
        margin:0px;
        padding:3px;
        text-align: center; /* Aligning the text to the center of its parent container (in this case, a cell) */
        font-size: 15px;
        letter-spacing: 5px; /* The gap size between letters. I like using these for stylistic stuff. */
        border-radius: 10px 10px 0px 0px; 
        font-family: 'MainBold', Courier, monospace;
        width:96%;
    }

    h1 {
         background:#d8e0d0;
         border-radius: 20px 0px 0px 20px; 
         font-family: 'MainBold', Courier, monospace;
         font-size: 24px;
         margin:10px;
         border:none;
    }

    h2 {
        background:#d8e0d0;
        color:#703000;
        margin:0px;
        padding:3px;
        text-align: right;
        font-size: 20px;
        letter-spacing: 5px;
        border-radius: 20px 0px 0px 20px; 
    }

    h3 {
        color:#f88000;
    }

    .subpage-content {
    background-image: none;
    }

    .home-image {
        width:200px;
        height:200px;
    }

    .nav-header::before {content:"";}

    .nav-header::after {content:"";}
}

/** ▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄
MAIN STYLES
▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄ **/
::selection {
  color: var(--main-color);
  background: var(--accent-color);
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: var(--main-color);
}

::-webkit-scrollbar-thumb {
    background: var(--border-color);
}

::-webkit-scrollbar-thumb:hover {
    background: var(--text-color);
    cursor: ns-resize;
}

@keyframes blink {
            0% {
                color:var(--accent-color-2);
            }

            50% {
                color:white;
            }

            100% {
                color:var(--accent-color-2);
            }
        }
        .blinking-text {
            text-align: center;
            animation: blink 0.25s infinite;
        }

/* MAIN FONT*/
@font-face {
    font-family: 'MainFont'; /*a name to be used later*/
    src: url('main-assets/main-fonts/OnliLight.woff'); /*URL to font*/
}

 /* ACCENT FONT */
@font-face {
    font-family: 'AccentFont'; /*a name to be used later*/
    src: url('main-assets/main-fonts/1942-report.ttf'); /*URL to font*/
}

 /* ACCENT FONT */
@font-face {
    font-family: 'MainBold'; /*a name to be used later*/
    src: url('main-assets/main-fonts/OnliBold.woff'); /*URL to font*/
}

 /* EVERYTHING */
html {
    background-color: var(--main-color);
    color: var(--text-color);
    font-size:12px;
    font-family: 'MainFont';
    scrollbar-gutter: both-edges;
    overflow-x:hidden;
    border-collapse:collapse;
    margin: 0px;
    padding: 0px;
    display: block;
}

body {
    margin:0px;
}

p {
    letter-spacing:1px;
    line-height: 18px;
    margin:3px;
}

/* BIG TITLE HEADERS */
h1 {
    font-family: 'AccentFont', Courier, monospace;
    letter-spacing: 10px;
    font-size: 40px;
    margin:0px;
    padding:0px 20px;
    text-align: right;
    border-bottom: 1px dashed var(--border-color);
    background: linear-gradient (var(--gradient-1), var(--gradient-2));
}

h2 {
    font-family: 'MainBold', Courier, monospace;
    font-size: 24px;
    margin: 5px;
    margin-top: 20px;
    padding: 0px;
    text-align: left;
    color: var(--accent-color);
}

h3 {
    font-family: 'MainBold', Courier, monospace;
    font-size:12px;
    margin:5px;
    margin-top: 15px;
    padding: 0px 3px;
    border-right: 1px solid var(--border-color);
    border-top: 1px solid var(--border-color);
    border-left: 1px solid var(--border-color);
    text-align: right;
}

summary {
    font-family: 'MainBold', Courier, monospace;
    font-size:16px;
    margin:5px;
    margin-top: 15px;
    padding: 0px 3px;
    border-right: 1px solid var(--border-color);
    border-top: 1px solid var(--border-color);
    border-left: 1px solid var(--border-color);
    text-align: right;
}

/* BOLD TEXT */
b {
    font-family: 'MainBold', Courier, monospace;
    font-size: 12px;
    margin:0px;
    padding: 0px;
    color: var(--text-color)
}

/* LINKS */
a {
    color: var(--link-color);
    font-style: italic;
    text-decoration: none;
    cursor: crosshair;
}

/* LINKS HOVER */
a:hover {
    font-family: 'MainFont', Courier, monospace;
    color: var(--link-hover-color);
    -webkit-text-fill-color: var(--link-hover-color);
    text-decoration: underline;
    font-style:normal;
}

a img:hover {
    filter: brightness(125%)
}

/* LINKS VISITED */
a:visited {
    color: var(--link-color)
}

/* BASIC IMAGE STYLING */
img {
    margin: 5px;
}

.home-image {
    background-image: var(--home-image);
    background-size: cover;
    height:100px;
    width:100px;
    margin:auto;
}

.marquee-gif {
    background-image: var(--marquee-gif);
    background-size: cover;
    height:15px;
    width:15px;
    display: inline-block;
    vertical-align: middle;
}

ul {
    margin:0px;
    padding-left:5px;
    margin-top:3px;
    color: var(--second-text-color);
}

ul li {
    text-align: left;
    letter-spacing:1px;
    margin-bottom:5px;
    list-style-type: none;
    background-color: var(--text-bg-color);

}

/* SCROLLING TEXT */
marquee {
    color: var(--marquee);
    height: 23px;
    width:100%;
    margin:10px 0px 0px 0px;
    padding:0px;
    direction: left;
    letter-spacing: 3px;
    font-size: 12px;
}

/* MARQUEE DECO IMAGE */
marquee img {
    vertical-align: middle;
}

/* MAIN TABLE - TO FIT A 800w X 600h SCREEN */
table {
    background-color: var(--main-color);
    width: 800px;
    height: 600px;
    border:1px solid var(--border-color);
    table-layout:auto;
    border-collapse: collapse;
    overflow:hidden;
    margin:0px;
    padding:0px;
}

.theme-switcher {
    text-align: right;
    margin: 5px;
}
/* CUSTOM EASY DIVIDER */
.divider {
    border-bottom: 1px dashed var(--border-color);
    width: 100%;
    margin:10px auto;
}

/* MAIN HEADER IMAGE */
#td-header {
    background-color: var(--main-color);
    background-size:cover;
    background-position: center;
    height:300px;
}

/* MAIN CONTENT */
.maincontent {
    background-color: var(--main-color);
    background-position: bottom;
    background-repeat: no-repeat;
    width:630px;
    height:100%;
    margin:0px;
    padding:0px;
    overflow: hidden;
    top:0px;
    display:inline-block;
}

/* CONTENT PARAGRAPHS */
.maincontent p {
    color: var(--p-color);
    padding: 3px 5px;
    margin:7px 5px 3px 5px;
    background-color: var(--text-bg-color);
}

/*STAUTS WRAPPER TEXT*/
#status-wrapper p {
    margin: 3px 3px;
    color: var(--second-text-color);
    vertical-align: middle;
    letter-spacing: 0px;
}

#status-wrapper b {
    color: var(--accent-color);
}

/*STAUTS WRAPPER TEXT*/
#status-wrapper img {
    margin: 0px;
    padding:0px;
}

/* SIDE NAV MENU BOX*/
td.side-box {
    background-color: var(--main-color);
    border-right: 1px solid var(--border-color);
    list-style-type: none;
    text-decoration: none;
    width: 170px;
    height: 100%;
    white-space: wrap;
    display:block;
}

/* SIDE NAV LIST ENTRIES */
.td-side-list li{
    list-style-type: none;
    text-decoration: none;
    margin-bottom:0px;
    background-size:10%;
    margin-left: 5px;
}

/* SIDE NAV LIST ENTRIES */
.td-side-list li::before {
    content: ">";
    color: var(--text-color);
    -webkit-text-fill-color: var(--text-color);
    margin-right: 10px;
    position: absolute;
    left:7px;
}

/* SIDE NAV HEADER */
.nav-header {
    border-bottom:1px solid var(--border-color);
    border-left: none; /* To avoid confliction with p borders */
    text-align: right;
    padding: 0px;
    margin:0px;
    background: linear-gradient (var(--gradient-1)), (var(--gradient-1));
    letter-spacing: 4px;
    width:100%;
}

.nav-header::before {
    content:"www.";
    font-size:10px;
    color: var(--second-text-color);
}

.nav-header::after {
    content:"/";
    font-size:10px;
    color: var(--second-text-color);
}

/* FOOTER */
#footer {
    height:30px;
    border-top:1px solid var(--border-color);
    padding: 5px;
}

/* FOOTER TEXT */
#footer p {
    border: none;
    margin: 0px;
    padding: 0px;
    text-align: center;
    color: var(--second-text-color);
}

.memorial-link img:hover {
    transform:rotate(5deg);
}

/* CLOCK IFRAME */
.clock {
    height:11px;
    width:100%;
    border:0px solid blue;
    padding:0px;
    margin:0px;
    padding-top:5px;
    left:0px;
}

.subpage-table {
    height:700px;
    width:900px;
    border:none;
}

.subpage-iframe {
    height: 700px;
    width: 500px;
    border:none;
}

.subpage-header img {
    vertical-align: middle;
}

.subpage-content {
    background-color: var(--main-color);
    background-image: url(main-assets/main-images/subpage-bg.png);
    background-size: contain;
    background-position: bottom;
    background-repeat: no-repeat;
    width:20%;
    vertical-align: top;
    border:1px solid var(--border-color);
}

.link-no-access {
    text-decoration: line-through;
    color: var(--border-color);
    -webkit-text-fill-color: var(--border-color);
    cursor: not-allowed
}

.link-no-access:hover {
    text-decoration: line-through;
    font-style: italic;
    color: var(--border-color);
    -webkit-text-fill-color: var(--border-color);
}

#dogperson-clique {
    border: 0px solid red;
    text-align:center;
    padding-top:5px;
    padding-bottom:10px;
}

#dogperson-clique img {
    vertical-align: middle;
}

#dogperson-clique a {
    font-family: 'MainBold', Courier, monospace;
}

.art-entry {
    display: inline-block;
    margin:10px;
    overflow: hidden;
    float: none;
    max-width: 215px;
    text-align: center;
}

.art-entry img {
    max-width: 215px;
    margin:0px;
    padding:0px;
}

.art-entry p {
    margin:0px;
    padding:0px;
}

#art-container {
    width: 500px;
    padding: 0px;
    margin:0px;
}

.blur {
    filter: blur(10px);
}

.blur:hover {
    filter: blur(5px);
}

.hover-text {
    font-size: 12px;
    display: none;
    position: absolute;
    z-index: 100;
    overflow-wrap: break-word;
    max-width: 200px;
    text-align: left;
    padding: 5px;
    background: var(--tooltip-bg-color);
    border: 1px dashed var(--border-color);
    color: var(--tooltip-text-color);
    box-shadow:5px 5px 10px var(--tooltip-shadow-color);
    cursor: help;
}

.hover-subject:hover span.hover-text {
    display: block;
}

.art-entry:hover span.hover-text {
    display: block;
}

.catalog-entry {
    background: none;
    width:206px;
    margin-bottom:20px;
    display: inline-block;
}

.catalog-entry img {
    height: 200px;
    margin:auto;
    display: block;
}

.catalog-container {
    background: none;
    width:628px;
    height: 669px;
    padding:0px;
    margin:0px;
}