/* COLORS */
:root {
    --main-color: rgb(0, 0, 0);
    --border-color: rgb(67, 67, 67);
    --accent-color: greenyellow;
    --text-color: honeydew;
    --second-text-color: rgb(156, 156, 156);
    --p-color: honeydew;
    --link-color: greenyellow;
    --link-hover-color: lightgoldenrodyellow;
    --marquee: greenyellow;
}

::selection {
  color: black;
  background: white;
}

::-webkit-scrollbar {
  width: 5px;
  padding:0px;
  margin:0px;
}

::-webkit-scrollbar-track {
  background-color: black;
}
 
/* SCROLL HANDLE */
::-webkit-scrollbar-thumb {
  background: var(--main-color); 
  border: 1px solid var(--text-color);
}

/* SCROLL HANDLE HOVER */
::-webkit-scrollbar-thumb:hover {
  background: var(--text-color); 
}

/* MAIN FONT*/
@font-face {
    font-family: 'MainFont'; /*a name to be used later*/
    src: url('main-assets/main-fonts/OnliLight.woff'); /*URL to font*/
}

 /* ACCENT FONT */
@font-face {
    font-family: 'AccentFont'; /*a name to be used later*/
    src: url('main-assets/main-fonts/1942-report.ttf'); /*URL to font*/
}

 /* ACCENT FONT */
@font-face {
    font-family: 'MainBold'; /*a name to be used later*/
    src: url('main-assets/main-fonts/OnliBold.woff'); /*URL to font*/
}

 /* EVERYTHING */
html {
    background-color: rgb(0, 0, 0);
    color: var(--text-color);
    font-size:12px;
    font-family: 'MainFont';
    scrollbar-gutter: both-edges;
    overflow-x:hidden;
    border-collapse:collapse;
    margin: 0px;
    padding: 0px;
}

/* BIG TITLE HEADERS */
h1 {
    font-family: 'AccentFont';
    letter-spacing: 10px;
    font-size: 40px;
    margin:0px;
    padding:0px 20px;
    text-align: right;
    border-bottom: 1px dashed var(--border-color);
    background: linear-gradient(180deg,rgba(0, 0, 0, 1) 0%, rgb(27, 27, 27) 80%);
}

/* BOLD TEXT */
b {
    font-family: 'MainBold';
    font-size: 12px;
    margin:0px;
    padding: 0px;
    color: var(--text-color)
}

/* LINKS */
a {
    color: var(--link-color);
    font-style: italic;
    text-decoration: none;
    cursor: crosshair;
}

/* LINKS HOVER */
a:hover {
    font-family: 'MainBold';
    color: var(--link-hover-color);
    text-decoration: underline;
    font-style:normal;
}

/* LINKS VISITED */
a:visited {
    color: var(--link-color)
}

/* BASIC IMAGE STYLING */
img {
    margin: 5px;
}

ul {
    margin-top:3px;
}

/* SCROLLING TEXT */
marquee {
    color: var(--marquee);
    height: 23px;
    width:100%;
    margin:3px 0px 0px 0px;
    padding:0px;
    direction: left;
    letter-spacing: 3px;
    font-size: 12px;
}

/* MARQUEE DECO IMAGE */
marquee img {
    vertical-align: middle;
}

/* MAIN TABLE */
table {
    background-color: var(--main-color);
    width: 700px;
    height: 525px;
    border:1px solid var(--border-color);
    table-layout:auto;
    border-collapse: collapse;
    overflow:hidden;
    margin:0px;
    padding:0px;
}

/* CUSTOM EASY DIVIDER */
.divider {
    border-bottom: 1px dashed var(--border-color);
    width: 80%;
    margin:auto;
}

/* MAIN HEADER IMAGE */
#td-header {
    background-color: var(--main-color);
    background-image:url(main-assets/main-images/main-banner-3.0.png);
    background-size:cover;
    background-position: center;
    height:290px;
    width:700px
}

/* MAIN CONTENT */
.maincontent {
    background-color: var(--main-color);
    overflow-x:hidden;
    width:560px;
    height:100%;
    margin:0px;
    padding:0px;
    overflow: hidden;
}

/* CONTENT PARAGRAPHS */
.maincontent p {
    color: var(--p-color);
    padding: 3px 20px;
    margin:7px 5px 3px 5px;
    border-left:1px solid var(--border-color);
    background: linear-gradient(90deg,rgba(0, 0, 0, 1) 20%, rgb(27, 27, 27) 100%);
    letter-spacing:1px;
    line-height: 18px;
}

/*STAUTS WRAPPER TEXT*/
#status-wrapper p {
    margin: 3px 3px;
    color: var(--second-text-color);
    vertical-align: middle;
}

/*STAUTS WRAPPER TEXT*/
#status-wrapper img {
    margin: 0px;
    padding:0px;
}

/* SIDE NAV MENU BOX*/
td.side-box {
    background-color: var(--main-color);
        border-left: 1px solid var(--border-color);

    list-style-type: none;
    text-decoration: none;
    width: 140px;
    height: 100%;
    white-space: wrap;
    display:block;
}

/* SIDE NAV LISTS */
td.side-box ul{
    padding:0px 0px 0px 5px;
    margin-bottom:0px;
}

/* SIDE NAV LIST ENTRIES */
.td-side-list li{
    list-style-type: none;
    text-decoration: none;
    background-image: url('main-assets/main-icons/arrowright.gif'); /* your image */
    background-size:10%;
  background-position: left center;
  background-repeat: no-repeat;
  padding: 0px 0px 2px 17px; /* Adjust according to image size to push text across. */
}

/* EMAIL LIST ENTRY */
#nav-email li{
    list-style-type: none;
    text-decoration: none;
    background-image: url('main-assets/main-icons/email.gif'); /* your image */
    background-size:10%;
  background-position: left center;
  background-repeat: no-repeat;
  padding: 0px 0px 0px 20px;
  margin-bottom: 5px;
}

/* SIDE NAV HEADER */
.nav-header {
    border-bottom:1px solid var(--border-color);
    border-left: none; /* To avoid confliction with p borders */
    text-align: right;
    padding: 0px;
    margin:0px;
    background: linear-gradient(180deg,rgba(0, 0, 0, 1) 0%, rgb(27, 27, 27) 80%);
    letter-spacing: 4px;
    width:100%;
}

/* FOOTER */
#footer {
    width: 700px;
    height:30px;
}

/* FOOTER TEXT */
#footer p {
    border: none;
    margin: 0px;
    padding: 0px;
    text-align: center;
    color: var(--second-text-color);
}