@font-face {
  font-family: accentFont; /* set name */
  src: url(main-assets/main-fonts/1942-report.ttf); /* url of the font */
}

body {
    color:#deedd4;
    background: linear-gradient(0deg,rgba(197, 235, 181, 1) 0%, rgba(18, 26, 25, 1) 100%);
    font-family: 'Courier New', Courier, monospace;
    font-size: 14px;
}

a {
    color: white;
}

a:hover {
    color:#c5ebb5;
}

textarea {
    margin:auto;
    display: block;
    width:400px;
    height: 100px;
    background-color: #323a2a;
    color:rgb(168, 169, 115);
}

h1 {
    text-align: right;
    letter-spacing: 15px;
    color:#deedd4;
    padding:10px;
    font-family: 'accentFont', Courier, monospace;
    text-transform: uppercase;
    background: linear-gradient(90deg,rgb(44, 65, 30) 0%, rgba(18, 26, 25, 1) 100%);
    border-bottom:1px solid rgb(44, 65, 30);
}

h2 {
    text-decoration: underline;
    font-weight: normal;
}

hr {
    width:450px;
    border:1px dashed;
    color:#c5ebb5;
}

p {
    width:400px;
    margin: auto;
    text-align: center;
}

#header {
    margin: 0px;
    padding:0px;
    height:300px;
    background-image: url(images/thesleeproom/sleeproombanner.png);
    background-size: cover;
}

#main-table {
    width:600px;
    margin:auto;
    border-collapse: collapse;
    background-color: #121A19;
}

#main-table td {
    border: 1px solid;
}

#webringulist table {
    border:1px solid;
    border-collapse: collapse;
    margin:auto;
    text-align: center;
}

#webringulist td, #webringulist th {
    border:1px solid #2c411e;
}

#webringulist td {
    padding:10px;
}

#nav-menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;
    justify-content: center;
}

#nav-menu ul li {
    float: left;
}

#nav-menu ul li a {
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

#nav-menu ul li a:hover {
    letter-spacing: 1px;
    text-decoration: underline;
}

.main-content {
    padding:10px;
}

.footer {
    padding:10px;
    background-color:#deedd4;
    color:#323a2a;
}

.footer a {
    color:rgb(168, 169, 115);
}

.footer a:hover {
    color:#ffffff;
}