.tt-content:hover img {
  filter: grayscale(50%);
}

.tt-text {
    display: none;
    color:white;
    border: 1px dashed gray;
    background: #000000;
    margin-left: 28px;
    padding: 2px;
    position: absolute;
    z-index: 1000;
    max-width:200px;
    max-height:1000px;
    white-space: wrap;
}

.tt-content {
    cursor: crosshair;
    width:0%; /**idk why this works it just does**/
}

.tt-content:hover .tt-text {
    display: block;
    position:absolute;
}