.tt-text {
    display: none;
    color:var(--tooltip-text-color);
    border: 1px dashed var(--border-color);
    background: var(--tooltip-bg-color);
    padding: 5px;
    z-index: 1000;
    max-width:200px;
    max-height:1000px;
    white-space: wrap;
    margin: 10px 30px 20px 0px;
    position: relative;
    box-shadow:5px 5px 10px var(--tooltip-shadow-color);
}

.tt-content {
    cursor:crosshair;
    width:0%; /**idk why this works it just does**/
}

.tt-content:hover .tt-text {
    display: block;
    position:absolute;
}