    ::selection {
  color: black;
  background: white;
}

@font-face {
  font-family: OnliLight;
  src: url(/main-assets/main-fonts/OnliLight.woff);
}

html {
  font-family: OnliLight;
  color: whitesmoke;
  cursor: url(https://cur.cursors-4u.net/cursors/cur-3/cur207.png), auto;
  font-size: 15px;
}

body {
  background-size:cover;
  background-image: url(/babylon-bicarbonate/eqbg.gif);
  background-repeat:repeat-x;
  background-attachment:fixed;
  background-position: left top;
}

#maintable {
  width:600px;
  height:500px;
  border: 1px solid dimgrey;
  background: black;
  
}

td {
  border: 1px solid White;
  padding: 10px;
}

#header {
  width: 100%;
  height:100px;
  padding: 0px;
  margin: 0px;
  background-image: url(/babylon-bicarbonate/musicbanner.png);
  background-size:cover;
}

/* MENU HEADER */
h1 {
  background: WhiteSmoke;
  color: Black;
  margin:0px;
  padding:3px;
  text-align: center;
  font-size: 15px;
  letter-spacing: 5px;
  border-radius: 10px 10px 0px 0px;
}

/* MAIN HEADER */
h2 {
  background: linear-gradient(0deg,rgba(0, 0, 0, 1) 20%, rgba(54, 54, 54, 1) 50%, rgba(0, 0, 0, 1) 80%);
  color: White;
  text-shadow: -3px 1px 7px rgba(0,0,0,0.56);
  margin:0px;
  padding:3px;
  text-align: right;
  font-size: 20px;
  letter-spacing: 5px;
  border-radius: 20px 0px 0px 20px;
}

/* SUB HEADER */
h3 {
  color: White;
  margin:10px;
  padding:0px;
  font-size: 17px;
}

.menu {
  margin: 0px;
  padding: 0px;
  border:0px solid red;
  vertical-align: top;

}

.menu ul {
  margin: 0;
  padding: 0;
  list-style-type:none;  
}

.menu li {
  background:none;
  text-align:left;
  padding:3px;
  margin: 1px;
  
}

.musiccomment {
  margin:5px;
}

#footer {
  height: 25px;
  text-align:center;
  color:rgb(140, 140, 140);
}

a {
  color: gainsboro;
  text-decoration: none;
}

a:hover {
  font-style:italic;
  color: white;
  cursor: url(https://cur.cursors-4u.net/cursors/cur-3/cur212.png), auto;
}

  a.tba {
	line-height:3px;
	color:dimgrey;
	text-decoration:line-through;
    }

.divider {
  border-bottom: 1px dashed dimgray;
  margin: 5px 0px;
}

#content {
  vertical-align: top;
background: linear-gradient(0deg,rgba(38, 38, 38, 1) 0%, rgba(0, 0, 0, 1) 100%);
}

.hilightimg img{
transition: .15s ease;
}

.hilightimg img:hover{
filter: brightness(200%);
transition: .15s ease;
}
  
  .newsong {
    border: 0px solid red;
    padding:3px;
    margin: auto;
  }
  
  .spingif {
    display:block;
    bottom:0px;
    margin:auto;
  }

#biospingif {
  vertical-align:bottom;
  bottom:0px;
}